<div class="row" id="<%= graph_id %>_row">

  <div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"><%= title %></h6>
      </div>
      
      <div class="card-body">
        <div id="<%= graph_id %>" class="plotly-graph-needs-resize" style="width: 100%;height:400px;"></div>
      </div>
    </div>
  </div>
  
</div>