<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Confirmed Cases</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800"><script>document.write(latest_numbers['confirmed'] != null ? latest_numbers['confirmed'].toLocaleString() : "unknown");</script></div>
        </div>
        <div class="col-auto">
          <i class="fas fa-meh fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-danger shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Deaths</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800"><script>document.write(latest_numbers['deaths'] != null ? latest_numbers['deaths'].toLocaleString() : "unknown");</script></div>
        </div>
        <div class="col-auto">
          <i class="fas fa-sad-tear fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-success shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Recovered</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800"><script>document.write(latest_numbers['recovered'] != null ? latest_numbers['recovered'].toLocaleString() : "unknown");</script></div>
        </div>
        <div class="col-auto">
          <i class="fas fa-smile fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-info shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Mortality Rate</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">
          <script>
          var percent = Math.round(10000 * latest_numbers['deaths'] / latest_numbers['confirmed']) / 100;
          document.write(percent.toLocaleString());
          </script>%
          </div>
        </div>
        <div class="col-auto">
          <i class="fas fa-percent fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>